body {
  font-family: 'Open Sans Condensed', serif;
  font-size: 18px;
  color: #555;
}

h1 {
  color: #000;
}

@media (min-width: 781px) {
  h1 {
    text-align: center;
  }
}

h4 {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #00AEEF;
}

a {
  color: #00AEEF;
}

hr {
  border: 0;
  border-top: 3px solid #eee;
  height: 0;
  margin: 30px 0;
}

/* MediaQuery for Javascript device 'keyword'
================================================ */

@media (max-width: 321px) {
  body:after {
    content: "device-smartphone";
    display: none;
  }
  body [data-device-tablet],
  body [data-device-desktop],
  body [data-device-wide] {
    display: none;
  }
}
.lte8 body:after {
  content: "device-smartphone";
  display: none;
}
.lte8 body [data-device-tablet],
.lte8 body [data-device-desktop],
.lte8 body [data-device-wide] {
  display: none;
}
@media (min-width: 321px) and (max-width: 781px) {
  body:after {
    content: "device-tablet";
    display: none;
  }
  body [data-device-desktop],
  body [data-device-wide] {
    display: none;
  }
}
.lte8 body:after {
  content: "device-tablet";
  display: none;
}
.lte8 body [data-device-desktop],
.lte8 body [data-device-wide] {
  display: none;
}
@media (min-width: 781px) and (max-width: 1025px) {
  body:after {
    content: "device-desktop";
    display: none;
  }
  body [data-device-wide] {
    display: none;
  }
}
.lte8 body:after {
  content: "device-desktop";
  display: none;
}
.lte8 body [data-device-wide] {
  display: none;
}
@media (min-width: 1025px) {
  body:after {
    content: "device-wide";
    display: none;
  }
}
.lte8 body:after {
  content: "device-wide";
  display: none;
}

/* Win/IE8 and lower MUST always show the content */
.lte8 body [data-device-tablet],
.lte8 body [data-device-desktop],
.lte8 body [data-device-wide] {
  display: block;
}

/* Common
================================================ */

/* For simple demo purposes */
div img {
  width: 100%;
}

/* Intro
================================================ */

.intro em {
  display: block;
}

/* Grid system
================================================ */

.gridContainer_12 {
  overflow: hidden;
}

@media (min-width: 781px) {
  .gridContainer_12 .grid_4 {
    width: 30%;
    float:left;
    margin-left: 3%;
  }

  .gridContainer_12 .grid_4:first-child {
    margin-left: 0;
  }
}

/* HTML pieces
================================================ */

.tabletView,
.desktopView,
.wideView {
  padding: 15px;
  background: #eee;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.tabletView h4,
.desktopView h4,
.wideView h4 {
  margin-top: 0;
  color: red;
  font-weight: bold;
}